# cargo-about configuration
# Run: cargo about generate about.hbs > ../THIRD_PARTY_LICENSES.txt

accepted = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Zlib",
    "CC0-1.0",
    "Unlicense",
    "MPL-2.0",
    "Unicode-3.0",
    "Unicode-DFS-2016",
]
