[Desktop Entry]
Name=TiddlyDesktopRS
Comment=Desktop app for TiddlyWiki
Exec=tiddlydesktop-rs %f
Icon=tiddlydesktop-rs
Terminal=false
Type=Application
Categories=Office;Utility;
StartupWMClass=tiddlydesktop-rs
MimeType=text/html;
